<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/cfairmap.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <a href="/" class="logo">Portland State University</a>
      <div class="header-right">
        <a id="Pages" href="https://www.pdx.edu/careers-employment">About</a>
      </div>
      <!-- Buttons for All Majors, Engg-->
    </header>
    <main>
      <div id="map-container">
        <% for (var i =0; i <=57;  i++ ) { %>
          <div
            class="comp-block"
            id="comp-id-<%=companies[i].Number %>"
            onclick="compactions(this, '<%=companies[i].Number%>', '<%=companies[i].Employer%>', '<%=GOOGLE_KG_API_KEY%>')">
            <% if(companies[i].Employer != '') { %>
            <span class="comp-span">
              <%=companies[i].Employer%>
            </span>            
            <% } else {%>
              <span>
                <!--empty company block-->
              </span>
            <% } %>
          </div>
          <div id="modal-<%=companies[i].Number%>" class="modal">
            <!-- Modal content -->
            <div class="modal-content" id="modal-id-<%=companies[i].Number%>">
              <!-- <span id="close">&times;</span> -->
              <p>Employer: <%=companies[i].Employer %><br>
                <%if (companies[i].EmployerIndustry != '') { %>
                Employer Industry: <%=companies[i].EmployerIndustry%> <br>
                <% } %>
                <% var dept = [];
                    if (companies[i].CEE == "x") 
                    { 
                      dept.push("CEE")
                    };
                    if (companies[i].CS == "x") 
                    { 
                      dept.push("CS")
                    };
                    if (companies[i].ECE == "x") 
                    { 
                      dept.push("ECE")
                    };
                    if (companies[i].ETM == "x") 
                    { 
                      dept.push("ETM")
                    };
                    if (companies[i].MME == "x") 
                    { 
                      dept.push("MME")
                    };
                  %> 
                <% if (dept.length > 0) { %> 
                Departments: 
                <ul> 
                  <% for(var j=0; j<dept.length; j++ ){ %> 
                  <li><%=dept[j]  %> </li>
                  <% } %> 
                </ul>
              <% } %>
                <% if (companies[i].JobTypes != '') { %> 
                JobTypes: <%=companies[i].JobTypes %> <br>
                <% } %> 
                <%if(companies[i].OPTCPT=="Y") {%>
                  OPT/CPT? Yes
                <% } %> 
              </p>
            </div>
            </div>
        <% } %>
      </div>
    </main>
    <footer class="footer">
      <div class="FooterLinks">
        <div class="LinksOne">
          <ul>
            <li>
              <a
                href="https://www.pdx.edu/careers/internship-information-for-students"
                >Internships</a
              >
            </li>
            <li><a href="https://www.pdx.edu/careers/events">WorkShops</a></li>
            <li>
              <a href="https://www.pdx.edu/careers/appointments-drop-in"
                >Appointments</a
              >
            </li>
            <li>
              <a href="https://www.pdx.edu/careers/contact">Contact Us</a>
            </li>
          </ul>
        </div>
        <div class="LinksTwo">
          <ul>
            <li>
              <a
                href="https://www.linkedin.com/school/portland-state-university/"
                >LinkedIn</a
              >
            </li>
            <li>
              <a href="https://portlandstate.joinhandshake.com/login"
                >Handshake</a
              >
            </li>
            <li><a href="https://www.indeed.com/q-Pdx-jobs.html">Indeed</a></li>
          </ul>
        </div>
      </div>

      <div class="Credits">
        <p>
          All Rights Reserved (
          <a class="Network" href="https://www.linkedin.com/in/deepa-varghese/"
            >Deepa Varghese</a
          >
          )
        </p>
      </div>
    </footer>
    <!-- <script>"https://code.jquery.com/jquery-3.3.1.min.js"</script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script type="text/javascript" src="cfairmap.js"></script>
  </body>
</html>
